[submodule "front_educational_chatbot_HW"]
	path = front_educational_chatbot_HW
	url = git@github.com:guillaume-j/front_educational_chatbot_HW.git
	branch = main
[submodule "educational-chatbot-HW"]
	path = educational-chatbot-HW
	url = git@github.com:guillaume-j/educational-chatbot-HW.git
	branch = main
